<!DOCTYPE html>
<html>
  <head>
    <title>HelloApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<style type="text/css" >
  		body{
  			background-color: #ffebd5;
  		}
  
  		
  	</style>
    <%= yield %>
  </body>
</html>
